BOT_TOKEN
GOOGLE_SERVICE_ACCOUNT_BASE64
CRAFTY_TOKEN
STATS_TOKEN
GUILD_ID
STATS_MONGO_URI 
STATS_DB_NAME  
AUTH_MONGO_URI   
AUTH_DB_NAME   
MC_READY
# if you are thinking why 2 mongo db connections?...its because under free plan, only 1 cluster per DB